{% url 'cities:home' as cities_home_url %}
{% url 'cities:create' as cities_create_url %}
{% url 'trains:home' as trains_home_url %}
{% url 'trains:create' as trains_create_url %}
{% url 'accounts:login' as accounts_login_url %}
{% url 'accounts:register' as accounts_register_url %}
{% url 'accounts:logout' as accounts_logout_url %}
{% url 'list' as list_url %}
{% url 'home' as home_url %}

<nav class="navbar navbar-expand-lg container navbar-dark" style="background-color: #FFA500;">
    <!--   класс container ограничивает размер -->
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ home_url }}">
            <!--            <i class="fa fa-road fa-lg" aria-hidden="true"></i>-->
            <i class="fa fa-subway fa-lg" aria-hidden="true"></i>&nbsp;
            <strong>FindRoute</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <!--ГОРОДА            -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == cities_home_url %}active{% endif %}"
                       aria-current="page" href="{{ cities_home_url }}">Города</a>
                </li>

                <!--ПОЕЗДА            -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == trains_home_url %}active{% endif %}"
                       aria-current="page" href="{{ trains_home_url }}">Поезда</a>
                </li>

                <!--МАРШРУТЫ            -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == list_url %}active{% endif %}"
                       aria-current="page" href="{{ list_url }}">Маршруты</a>
                </li>

                <!-- DROPDOWN           -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle
                    {% if not user.is_authenticated %}
                    disabled
                    {% endif %}
                    {% if request.path == cities_create_url or request.path == trains_create_url %}active
                    {% endif %}" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item"
                               aria-current="page" href="{{ cities_create_url }}">
                                Добавить город
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               aria-current="page" href="{{ trains_create_url }}">
                                Добавить поезд
                            </a>
                        </li>
                    </ul>
                </li>


                <!-- НАЙТИ МАРШРУТ           -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}"
                       aria-current="page" href="{{ home_url }}">
                        <i class="fa fa-search" aria-hidden="true"></i>&nbsp;Найти маршрут
                    </a>
                </li>


                <!-- РАБОТА С ЮЗЕРОМ (ВЫХОД/ВХОД, РЕГИСТРАЦИЯ)           -->
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link">
                        {{ user.username }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == accounts_logout_url %}active{% endif %}"
                       aria-current="page" href="{{ accounts_logout_url }}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Выйти
                    </a>
                </li>

                {% else %}
                <!--                ВХОД-->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == accounts_login_url %}active{% endif %}"
                       aria-current="page" href="{{ accounts_login_url }}">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Войти
                    </a>
                </li>
                <!--                РЕГИСТРАЦИЯ-->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == accounts_register_url %}active{% endif %}"
                       aria-current="page" href="{{ accounts_register_url }}">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Зарегистрироваться
                    </a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>